<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.pnml.tools.epnk.extensions.tutorial.types.arctypes.arctypes.presentation.ArctypesModelWizardID"
            name="%_UI_ArctypesModelWizard_label"
            class="org.pnml.tools.epnk.extensions.tutorial.types.arctypes.arctypes.presentation.ArctypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArctypesModelFile.gif">
         <description>%_UI_ArctypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.pnml.tools.epnk.extensions.tutorial.types.arctypes.arctypes.presentation.ArctypesEditorID"
            name="%_UI_ArctypesEditor_label"
            icon="icons/full/obj16/ArctypesModelFile.gif"
            extensions="arctypes"
            class="org.pnml.tools.epnk.extensions.tutorial.types.arctypes.arctypes.presentation.ArctypesEditor"
            contributorClass="org.pnml.tools.epnk.extensions.tutorial.types.arctypes.arctypes.presentation.ArctypesActionBarContributor">
      </editor>
   </extension>

</plugin>
